{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user_profile %}

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {% if message.tags %}
                        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-success{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div id="posts" class="container-fluid mt-5"></div>

    {% else %}
        <p>No user profile found.</p>
    {% endif %}
{% endblock %}


{% block script %}
    <script>
        const userProfileUsername = "{{ user_profile.user.username }}";
    </script>
    <script src="{% static 'network/following.js' %}"></script>
{% endblock %}