{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user_profile %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {% if message.tags %}
                        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-success{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="container-fluid mb-5 mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- User Profile Picture -->
                            {% if user_profile.picture %}
                                <img src="{{ user_profile.picture.url }}" class="img-fluid rounded-circle" alt="Profile Picture">
                            {% else %}
                                <img src="{% static 'network/profile_placeholder.png' %}" class="img-fluid rounded-circle" alt="Placeholder">
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <!-- User Profile Information -->
                            <h1>{{ user_profile.user.username }}</h1>
                            <p>Followers: {{ user_profile.followers.count }}  Following: {{ user_profile.following.count }}</p>
    
                            {% if can_follow %}
                                {% if is_following %}
                                    <form method="post" action="{% url 'unfollow' username=user_profile.user.username %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary btn-sm">Unfollow</button>
                                    </form>
                                {% else %}
                                    <form method="post" action="{% url 'follow' username=user_profile.user.username %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-sm">Follow</button>
                                    </form>
                                {% endif %}
                                <button id="messagebutton" class="btn btn-secondary btn-sm mt-2">Message</button>

                            {% endif %}
                            <!-- Edit Profile Button (Visible only if the current user can edit the profile) -->
                            {% if request.user == user_profile.user%}
                                <a href="{% url 'edit_profile' %}" class="btn btn-secondary btn-sm">Edit Profile</a>
                            {% endif %}
                        </div>
                        <!-- Bio (Displayed on the right side if exists) -->
                        {% if user_profile.bio %}
                        <div class="col-md-6">
                            <p>{{ user_profile.bio }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for composing a message -->
        <div class="modal fade" id="composeModal" tabindex="-1" aria-labelledby="composeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="composeModalLabel">Compose Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <!-- Form for composing the message -->
                <form id="compose-form">
                    {% csrf_token %}
                    <div class="mb-3">
                    <label for="message" class="form-label">Message:</label>
                    <textarea class="form-control" id="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
                </div>
            </div>
            </div>
        </div>

  
  

        <div id="posts" class="container-fluid mt-5"></div>

    {% else %}
        <p>No user profile found.</p>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        const userProfileUsername = "{{ user_profile.user.username }}";
    </script>
    <script src="{% static 'network/profile.js' %}"></script>
  
{% endblock %}
