{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user_profile %}

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {% if message.tags %}
                        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-success{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="container-fluid mb-5 mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1>{{ user_profile.user.username }}</h1>
                    <p>Followers: {{ user_profile.followers.count }}</p>
                    <p>Following: {{ user_profile.following.count }}</p>
                    {% if can_follow %}
                            {% if is_following %}
                                <form method="post" action="{% url 'unfollow' username=user_profile.user.username %}">
                                    {% csrf_token %}
                                    <button type="submit">Unfollow</button>
                                </form>
                            {% else %}
                                <form method="post" action="{% url 'follow' username=user_profile.user.username %}">
                                    {% csrf_token %}
                                    <button type="submit">Follow</button>
                                </form>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="posts" class="container-fluid mt-5"></div>

    {% else %}
        <p>No user profile found.</p>
    {% endif %}
{% endblock %}


{% block script %}
    <script>
        const userProfileUsername = "{{ user_profile.user.username }}";
    </script>
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}