.username {
    font-size: 1.25rem; /* Adjust the font size as needed */
    font-weight: bold; /* Optional: Apply bold font weight */
    display: inline-block;
    margin-right: 5px; /* Adjust margin as needed */
}

/* remove highlight in anchor tags */
a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element */
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element */
}



/* Adjustments for small screens */
@media (max-width: 768px) {
    .col-lg-2,
    .col-lg-8,
    .col-lg-2 {
        width: 100%;
    }
}

/* Custom CSS for styling */
.search-box {
    position: sticky;
    top: 20px;
}

/* Custom CSS to override Bootstrap styles */
.search-box input[type="text"] {
    width: 80%; /* Adjust the width as needed */
}

.body {
    margin-top: 20px;
    /* Adjust margin as needed */
}
